/* анімація в css буває 2-х видів */
/* 1 - transition - плавний перехід між двома станами
спрацьовує тільки коли вказана властивість змінюється
(наприклад користувач наводить курсор - hover).
працює не з усіма властивостями */
/* 2 - поєднання властивості animation і функції @keyframes
складна анімація з кількох кадрів яка може працювати і без дій користувача */
* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: sans-serif;
  font-size: 1.5rem;
}
h2 {
  margin: 24px 0px 8px;
  font-size: 1.75rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.box {
  width: 120px;
  height: 120px;
  background-color: seagreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 8px;
}
/* ===========================приклад -1- ====================== */
/* Забезпечення плавної зміни кольору
  фону тривалістю 0.9 секунди,
  якщо цю зміну активує користувач
  навівши курсор */
.demo-transition {
  transition: background-color 0.9s;
}
/* кінцевий стан кольору фону
початковий задається класом .box  */
.demo-transition:hover {
  background-color: orange;
}
/* ===========================приклад -2- ====================== */
/* початковий стан задається класом .box */
/* забезпечення плавної зміникольору фону і заокруглення кутів з різною швидкістю */
.demo-multi {
  /* назва-властивості тривалість-переходу */
  transition:
    background-color 0.9s,
    border-radius 1.6s;
}
.demo-multi:hover {
  /* якщо вказати зміни для одної властивості то transition буде працювати лише з тією  властивістющо змінюється  */
  background-color: yellowgreen;
  border-radius: 50%;
}
.demo-transform {
  /* забезпечення плавної трансформації */
  transition: transform 0.5s;
  /* Трансформація не порушує потоку
  сторінки, елемент змінює відображення
  лише візуально ("сусіди" не рухаються) */
}
.demo-move:hover {
  /* посунути елемент вгору(по осі Y) на 20px */
  transform: translateY(-20px);
}
/* Збільшити масштаб елемента в 1.3 рази */
.demo-scale:hover {
  transform: scale(1.3);
}
.demo-rotate:hover {
  /* нахил елемента на 45градусів */
  transform: rotate(45deg);
}
.demo-skew:hover {
  /* нахил (перекіс) по горизонталі */
  transform: skewX(-45deg);
}
.demo-combo:hover {
  /* кілька трансформацій одночасно (розділених пробілами) */
  transform: translateY(-10px) scale(1.2) rotate(10deg) skewX(-10deg);
}
/* ========================приклад 4================== */

.demo-timing-function {
  transition: transform1.5s;
  transition-property: transform;
  transition-duration: 1.5s;
}
.demo-tf-easy {
  /* Плавні старт і фініш, пришвидшена середина */
  /* Значення за замовчуванням */
  transition-timing-function: ease;
}

.demo-tf-easy-in {
  /* Повільний старт, швидкий фініш */
  transition-timing-function: ease-in;
}

.demo-tf-easy-out {
  /* Швидкий старт, повільний фініш */
  transition-timing-function: ease-out;
}

.demo-tf-linear {
  /* Рівномірна швидкість */
  transition-timing-function: linear;
}
/* забезпечимо зміну властивості transform */
.demo-timing-function:hover {
  transform: translateX(600px);
}

/* ========================приклад 5================== */
.demo-keyframes {
  /* вмикаємо сценарій анімації: 
    -назва сценарію
    -тривалість
    -характер переходу
    -кількість повторів(infinite - безкінечно) */
  animation: pulse 1.5s ease-in-out infinite;
}
/* задаємо розкадровку сценарію */
/* без виклику за допомогою animation жодного ефекту не буде */
/* Задаємо розкадровку сценарію */
/* Без виклику за допомогою animation
жодного ефекту не буде */
@keyframes pulse {
  /* 0%, 50%, 100% - це точки на шкалі часу (кадри) */
  /* Проміжні стани браузер плавно домалює сам */
  0% {
    /* Старт (початковий стан): звичайний розмір */
    transform: scale(1);
  }
  50% {
    /* Середина: масштаб 125% */
    transform: scale(1.25);
  }
  100% {
    /* Фініш: повернення у початковий стан */
    transform: scale(1);
  }
}

/* ========================приклад 6================== */
.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid lightgrey;
  /* робимо спінер круглим */
  border-radius: 50%;
  /* задаємо інший колір, щоб було видно обертання */
  border-top-color: seagreen;
  /* Вмикаємо сценарій обертання spin,
  тривалість 1 секунда, швидкість рівномірна,
  повторюється безкінечно */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  /* from - аналог 0% = початковий стан */
  from {
    transform: rotate(0deg);
  }
  /* to - аналог 100% = кінцевий стан */
  to {
    transform: rotate(360deg);
  }
}

/* ========================приклад -7- ================== */

.demo-alternate {
  /* Вмикаємо сценарій slide, який триває 1.2 секунди,
  починається і закінчується повільно,
  повторюється безкінечно і 
  кожен другий цикл виконується у зворотному порядку (alternate) */
  animation: slide 1.2s ease-in-out infinite alternate;
}

.demo-alternate:hover {
  /* ставимо на паузу виконання сценарію */
  animation-play-state: paused;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px);
  }
}
/* ========================приклад -8- ================== */
.dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: seagreen;
  animation: wave 0.9s ease-in-out infinite;
}

@keyframes wave {
  /* Задаємо однаковий стан для 2 часових міток */
  0%,
  100% {
    /* Можна міняти одночасно декілька властивостей */
    transform: translateY(0);
    background-color: seagreen;
  }
  50% {
    transform: translateY(-30px);
    background-color: blueviolet;
  }
}

/* Задаємо різну затримку (паузу) початку 
виконання сценарію для реалізації ефекту хвилі */
.dot:nth-child(2) {
  animation-delay: 0.15s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
}

.dot:nth-child(4) {
  animation-delay: 0.45s;
}
