* {
  box-sizing: border-box;
}
body {
  background-color: rgb(98, 183, 233);
  background-image: url(../content_for_CSS/mountain_pic1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}
/* ======================Шрифти====================== */
.playfair-barber {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: italic;
}
/* ======================Текст і заголовки====================== */
p {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  background-color: rgba(63, 218, 141, 0.514);
  border-radius: 12px;
  width: 90%;
  margin: 12px auto;
  margin-bottom: 20px;
}
h1 {
  background-color: rgba(238, 220, 54, 0.705);
  color: orangered;
  text-align: center;
  padding: 10px;
  border: 2px dashed green;
  border-radius: 12px;
  margin: 20px auto;
  width: 50%;
}
h2 {
  background-color: rgba(202, 186, 47, 0.603);
  color: rgb(0, 82, 177);
  text-align: center;

  padding: 10px;
  border: 2px dotted red;
  border-radius: 12px;
  margin: 16px auto;
  width: 30%;
}
.list-title {
  font-style: italic;
  background-color: rgba(119, 16, 216, 0.692);
  border-radius: 12px;
  color: whitesmoke;
  padding: 8px;
  width: 30%;
}
/* ======================Меню====================== */
nav {
  ul {
    list-style: none;

    padding-left: 0px;
    text-align: center;
  }
  li {
    font-size: 24px;
    border: 2px solid red;
    background-color: lavender;
    border-radius: 8px;
    width: 30%;
    line-height: 50px;
    display: inline-block;

    a {
      text-decoration: none;
      width: 100%;
      display: inline-block;
    }

    a:link,
    a:visited {
      color: rgb(46, 43, 226);
    }
  }
}
/* ======================Списки та їх оформлення====================== */
.lists_style {
  background-color: rgba(121, 1, 190, 0.596);
  color: white;
  border-radius: 12px;
  width: fit-content;
  margin: 16px auto;
  padding: 12px;
}
ul,
ol {
  font-family: sans-serif;
  font-size: 20px;
}
li {
  padding-left: 12px;
}
/* ==========Ведмеді============ */

.sign_bear li::marker {
  content: "🐻";
}
/* ===========Рисі=========== */

.sign_lynx li::marker {
  content: "🐯";
}
/* ==========Олені============ */

.sign_o li::marker {
  content: "🌲";
}
.sign_u li::marker {
  content: "🌳";
}
.sign_u_sun li::marker {
  content: "🌤️";
}
.sign_spring li::marker {
  content: "🦌";
}
.sign_u2 li::marker {
  content: "🪵";
}

/* ======================Таблиця====================== */
table {
  border-collapse: collapse;
  background-color: rgba(228, 159, 95, 0.753);
  margin: 20px auto;
  width: 70%;
}
th,
td {
  border: 2px solid darkblue;
  text-align: center;
}

table th {
  background-color: #4989c5;
}
td:first-child {
  background-color: rgb(109, 179, 113);
}
/* ======================Кнопка====================== */
.to_top {
  font-size: 30px;

  width: 40px;
  height: 40px;
  border-radius: 16%;
  background-color: rgba(47, 130, 158, 0.658);
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.to_top a {
  text-decoration: none;
}
