* {
  box-sizing: border-box;
}
body {
  background-color: rgb(164, 195, 223);
  color: black;
  font-family: sans-serif;
  width: 70%;
  margin: 20px auto;
  line-height: 1.5;
  padding: 16px;
  border: 2px dotted blueviolet;
  border-radius: 16px;
}
h1,
h2 {
  color: green;
}
h1 {
  margin-top: 0px;
}

.card {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
  margin: 12px 0px;
  background-color: bisque;
}
.batko {
  color: blueviolet;
  font-style: italic;
}
.green {
  color: green;
}

/* НЕ СПАДКУЄТЬСЯ */

.batko-box {
  border: 4px solid goldenrod;
  background-color: cadetblue;
  padding: 16px;
  margin: 12px 0px;
}
.bg-brown {
  background-color: burlywood;
}
.buntar {
  border: 3px double red;
  width: 50%;
  height: 70px;
  margin: 8px;
  padding: 8px;
  background-color: aquamarine;
}

/* Примусове спадкування */
.inherit-batko-box{
    border: inherit;
    padding: inherit;
}