* {
  box-sizing: border-box;
}
body {
  background-color: rgb(92, 215, 236);
  font-family: sans-serif;
}
/* =========================Основа картки================= */
.goods {
  background-color: aliceblue;
  width: 20%;
  min-width: 200px;
  color: black;
  border: 2px solid blue;
  border-radius: 16px;
  padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}
/* =====================Зображення товару====================== */
.goods img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 6px;
}
/* =====================кнопка "додати у вибрані"=================== */

.wish a {
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
/* ====================Назва товару============================ */
.name a {
  text-decoration: none;
  color: black;
  font-weight: 600;

  margin: 12px 0px;
}

/* ========================Рейтинг та коментарі========================= */
.rate {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 6px;

  margin: 6px 0px;
}
.count {
  font-size: small;
}
/* ======================Блок цін та кошика================== */
.buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 6px;
}
.cart button {
  border: none;
}
.cart button a {
  text-decoration: none;
}
.cart a img {
  width: 50px;
}

.old-price {
  font-weight: 200;
  text-decoration: line-through;
  color: gray;
}
.current-price {
  color: red;
  font-weight: bold;
}

/* ============================Доставка та лого smart====================== */
.delivery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 4px;
  margin: 4px;
}
.free-del a {
  color: green;
  text-decoration: none;
  font-size: 0.8em;
}
.delivery img {
  width: 120%;
  padding: 6px;
  margin: 0px;
}
