* {
  box-sizing: border-box;
}
body {
  background-color: rgb(92, 215, 236);
  font-family: sans-serif;
}

.goods {
  background-color: aliceblue;
  width: 20%;
  min-width: 200px;
  color: black;
  border: 2px solid blue;
  border-radius: 16px;
  padding: 12px;
  position: relative;
}
.goods img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}
/* =====================кнопка "додати у вибрані"=================== */

.wish {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
/* ====================Назва товару============================ */
.name a {
  text-decoration: none;
  color: black;
  font-weight: 600;

  margin: 12px auto;
}
/* ======================Блок цін та кошика================== */
.buy {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin: 6px;
}
.buy img {
  width: 70%;
  margin: 6px;
}

.price {
  position: relative;
  display: inline-block;
}
.old-price {
  font-weight: 200;
  text-decoration: line-through;
  color: gray;
}
.current-price {
  color: red;
  font-weight: bold;
}

button {
  border: none;
  padding: 0px;
}

/* ========================Рейтинг та коментарі========================= */
.rate {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 6px;
  margin: 6px;
}
.count {
  font-size: small;
}
/* ============================Доставка та лого smart====================== */
.delivery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 8px;
  margin: 8px;
}
.free-del a {
  color: green;
  text-decoration: none;
  font-size: 0.8em;
}
.delivery img {
  width: 120%;
  padding: 6px;
  margin: 0px;
}
