body {
  font-family: sans-serif;
}

h1 {
  color: seagreen;
  text-align: center;
  border: 2px seagreen;
}

/* правило з псевдокласом: hover застосовується під час наведення на елемент
(на сенсерних пристроях немає курсору тому hover не буде працювати)
правило з псевдокласом доповнює існуючі правила або переписує конфліктуючі властивості */
h1:hover {
  color: white;
  background-color: seagreen;
  border: 2px dotted white;
}
div {
  border: 2px solid;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* правило застосовується якщо у певному контейнері першим елементом буде абзац(p)
(body і кожен з div) */
/* як працює селектор: 
- пошук перших дочірніх(вкладених) компонентів
- перевірка чи є компонент абзацом
- все збігається і правило діє*/
p:first-child {
  color: red;
}
/* правило застосовується до всіх перших дочірніх(вкладених) елементів не зале;но від тегу, 
(* - універсальний селектор),
навіть до <html> */
*:first-child {
  border-right: 2px solid;
  border-bottom: 2px solid;
}

/* ========== Parent 1 ========== */

/* якщо в контейнері з класом parent1 першим елементом буде абзац то правило застосується
класичний метод  */
.parent1 p:first-child {
  font-weight: bold;
}
/* якщо останній вкладений елемент - абзац то прпавило діє */
.parent1 p:last-child {
  text-decoration: underline;
}

/* Якщо 4-й елемент - абзац то правило діє */
.parent1 p:nth-child(4) {
  font-style: italic;
}

.parent1 p:nth-child(2n) {
  /* можна використовувати: even - парні, odd - не парні */
  background-color: burlywood;
}
.parent1 p:nth-child(2n + 1) {
  /* або - odd */
  background-color: rgba(128, 255, 0, 0.582);
}

/* Nested (вкладений) підхід */
.parent-1 {
  /* Не працюють підказки редактора коду для селекторів тегу */
  /* Лайфгак: тимчасово додавати . перед селектором,
  а після вибору псевдокласу прибирати її */

  /* Перший елемент = абзац */
  p:first-child {
    font-weight: bold;
  }

  /* Останній елемент = абзац */
  p:last-child {
    text-decoration: underline;
  }

  /* 4й елемент = абзац */
  p:nth-child(4) {
    font-style: italic;
  }

  /* Парні елементи = абзац */
  p:nth-child(2n),
  p:nth-child(even) {
    background-color: burlywood;
  }

  /* Непарні елементи = абзац */
  p:nth-child(2n + 1),
  p:nth-child(odd) {
    background-color: rgb(201, 241, 160);
  }
}

/* ========== Parent 2 ========== */

/* якщо у контейнері з класом parent-2  першим і останнім елементами будуть абзаци 
то правило застосується до них */
.parent-2 p:first-child,
.parent-2 p:last-child {
  border-left: 4px solid green;
  border-top: 4px solid green;
}
/* Альтернативний варіант 1  */
/* :is() - дозволяє скоротити однаковий префікс ".parent-2 p" 
і має специфічність класу*/
.parent-2 p:is(:first-child, :last-child) {
  border-left: 4px solid green;
  border-top: 4px solid green;
}

/* Альтернативний варіант 2 */
/* :where = :is, але має специфічність 0 */
.parent-2 p:where(:first-child, :last-child) {
  border-left: 4px solid green;
  border-top: 4px solid green;
}

/* ========== Parent 3 ========== */

.parent-3 {
  /* перший абзац, інші сусідні теги ігноруються */
  p:first-of-type {
    font-weight: bold;
  }
  /* останній абзац інші теги ігноруються */
  p:last-of-type {
    text-decoration: underline;
  }
  /* вказаний номер абзацу(елементу, контейнеру) */
  p:nth-of-type(4) {
    font-style: italic;
  }
  /* парні абзаци, елементи до\між\після ігноруються */
  p:nth-of-type(even) {
    background-color: burlywood;
  }
  /* непарні абзаци в контейнері з класом parent-3 */
  p:nth-of-type(odd) {
    background-color: rgb(201, 241, 160);
  }
  /* Якщо абзац НЕ Є першим абзацом (елементом/тегом p),
  то задаємо для нього внутрішній відступ з лівого боку */
  p:not(:first-of-type) {
    padding-left: 20px;
  }
}

.parent-4 *:first-child {
  border: none;
}

/* ========== Parent 4 ========== */
/* Перший елемент, незалежно від типу (тегу)
буде мати червоний колір тексту */
.parent-4 *:first-child {
  color: red;
}

/* Правило (селектор) НЕ працює, тому що
першим елементом (child) є заголовок <h2>, а не <p>

Як працює селектор:
1. У контейнері з класом .parent-4 виконується пошук
першого елемента (тега) незалежно від типу, 
оскільки маємо псевдоклас :first-child 
2. Перевіряється тег знайденого елемента 
(першого в контейнері)
3. Якщо тег першого елемента = p, то фарбуємо
текст у зелений колір, інакше ігноруємо правило */
.parent-4 p:first-child {
  color: green;
}

/* Правило працює, тому що перший тег 
в div з класом parent-4 - це <h2>

Якщо перед <h2> додати список <ul>, то правило
перестане працювати, тому що першим child стане <ul> */
.parent-4 h2:first-child {
  border: 2px solid violet;
  border-radius: 4px;
  padding: 4px;
}

/* Правило працює, тому що ігнорує всі елементи
окрім тегу <p> і якщо знаходить абзац <p>,
то застосовує правило до першого з них */
.parent-4 p:first-of-type {
  color: blue;
}
