body {
  background-color: antiquewhite;
  background-image: url(../content_for_CSS/pattern_image_1.jpg);
}

h1 {
  background-color: rgb(38, 184, 50);
  color: bisque;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  margin: 12px auto;
  width: 30%;
}
div {
  background-color: rgba(137, 43, 226, 0.308);
  border-radius: 12px;
  width: 90%;
  margin: auto;
}
.playfair-barber {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
li {
  font-size: 40px;
  text-align: center;
  list-style-position: inside;
}
p {
  text-align: center;
  font-size: 24px;
}
