body {
  /* 4 варіанти запису кольору bisque */
  background-color: #11548b; /* назва кольору( колір фону на випадок довгого завантаження, або обмеження картинки фону) */
  background-color: rgb(255, 228, 196); /* функція rgb */
  background-color: rgba(
    /* інтенсивність червоного кольору */ 255,
    /* інтенсивність зеленого кольору*/ 228,
    /* інтенсивність синього кольору*/ 196,
    /* коефіцієнтом прозорості*/ 0.99
  ); /* функція rgb з коефіцієнтом прозорості */
  background-color: #ffe4c4; /* 16-ковий запис */

  /* url - це функція, яка приймає параметр, 
  що вказує на шлях до зображення
  або посилання на зображення */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/72/O_Partenon_de_Atenas.jpg);
  background-repeat: no-repeat; /* забороняє повторення зображення для заповнення вільного простору */
  background-size: cover; /* Керування розмірами зображення:
  - contain - масштабує зображення до меншої сторони вікна перегляду,
  відповідно до пропорцій, за потреби додає порожні поля і видно фон;
  
  - cover - масштабує зображення для заповнення вікна перегляду,
  за потреби обрізає частини зображення; *//* Розтягнення зображення для заповнення вікна перегляду, за потреби обрізає частини зображення
  contain - підлаштовує картинку під висоту контенту в body */
  background-position: center top; /* Розташовує зображення у середині по горизонталі і припасовує до верхнього  краю по вертикалі*/
  background-attachment: fixed; /* Прив'язує зображення до області перегляду
  не діє смуга проеручування */
  /*height: 100vh; vh - висота вікна перегляду */ /* Функція calc рахує і задає висоту body відповідно висоті області перегляду 
  (екран - елементи браузера (вкладки, рядок адреси тощо) - панель задач)
  з врахуванням зовнішніх відступів, які браузер додає автоматично:
  - 8px - для body;
  - 20px - наші відступи div */
  /* знаки операцій огортаємо пробілами  (100" "-" "28px*/
  height: calc(100 - 28px);
}
div {
  background-color: rgba(255, 228, 196, 0.452);
  font-size: 20px;
  margin: 20px auto;
  width: 60%;
  padding: 16px;
  border-radius: 16px;
}
