* {
  box-sizing: border-box;
}
body {
  background-color: rgb(62, 97, 143);
  background-image: url(../content_for_CSS/The_Expanse_Logo.png);
  background-position: center;
  background-repeat: space;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  font-family: "Science Gothic", sans-serif;
}

header {
  text-align: center;
  padding: 16px;
  margin-bottom: 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: linear-gradient(to right, rgb(14, 5, 63), rgb(84, 84, 150));
}
h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  color: rgb(2, 19, 54);
  text-shadow: 2px 2px 4px rgba(204, 196, 196, 0.5);
  margin: 0px;
}
.menu {
  list-style: none;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.menu li {
  width: 20%;
  border-radius: 6px;
}
.menu li,
.menu-button {
  border: 2px solid black;
  background-color: rgb(84, 84, 150);
  color: darkblue;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 48px;
  line-height: 32px;
}

.menu-button {
  display: inline-block;
}
.menu li:hover,
.menu-button:hover {
  background-color: transparent;
  color: rgb(2, 19, 54);
}
.vertical-menu {
  display: none;
  position: relative;
}
.vertical-menu:hover .dropdown-menu {
  display: flex;
}
.dropdown-menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: none;
  flex-direction: column;
  gap: 4px;
  left: 12px;
  top: 20px;
  position: absolute;
}
