.center {
  align-content: center;
  margin-inline: auto;
}
.form {
  width: 420px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
td {
  padding: 5px;
}
.w-200 {
  width: 200px;
}
.submit {
  display: block;
  align-content: center;
  margin-inline: auto;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.info {
  padding-left: 30px;
  padding-block: 10px;
  background-color: rgb(216, 255, 251);
}
