* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: bisque;
}
ul {
  /* прибирання маркерів списку */
  list-style: none;
  /* Прибираємо внутрішній відступ
    у якому знаходились маркери  */
  padding-left: 0px;
  text-align: center;
}
li {
  border: 2px solid black;
  width: 20%;
  /* Змінює поведінку блочного елемента,
  він перестає займати всю ширини батьківського елемента,
  що дозволяє розташовувати такі елементи в одному рядку,
  керувати шириною і висотою, але не робить 
  інлайновим (рядковим) контейнером */
  /* Дозволило задати вирівнювання як для тексту */
  display: inline-block;

  /* Поганий спосіб задати висоту меню,
  оскільки втрачається вирівнювання по вертикалі */
  /* height: 50px; */

  /* Не найкращий спосіб, оскільки активна
  область гіперпосилання зменшується - 
  потрібно клікнути точно на тег a */
  /* padding: 12px 0px; */

  /* Оптимальний спосіб для поточної задачі,
  оскільки одночасно задає висоту і рядка,
  і контейнера, а також - вирівнювання по вертикалі */

  line-height: 50px;
}

/*  */
li a {
  text-decoration: none;
  /* Змінює поведінку рядкового (інлайн) елемента,
  дозволяє керувати шириною і висотою,
  але не робить блочним елементом:
  не можна вкладати в середину блочні контейнери */
  display: inline-block;
  width: 100%;
}
li a:link,
li a:visited {
  color: black;
}
