* {
  box-sizing: border-box;
}
body {
  height: 300vh;
  background-color: antiquewhite;
}
div {
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
  width: 400px;
}
img {
  border: 1px solid red;
  width: 100%;
}
.default-position {
  border: 1px solid red;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.relative {
  /* дозволяє змінювати позицію елементу, але не порушує потоку 
 (розміри батьківського елементу не зиінюються)  */
  /* На практиці, значення relative часто використовується
   для позначення "позиціонованого" елемента,
   тобто елемента у якого властивість position не static,
   але це не несе помітних наслідків, у той же час,
   це є орієнтир для дочірніх (вкладених) елементів
   щодо ЇХ позиціонування */
  position: relative;
  /* Зміщення відносно початкового положення */
  top: 100px; /* Зсув вниз від верхнього краю, від'ємні значення = рух вгору */
  left: 100px; /* Зсув праворуч від лівого краю, від'ємні значення = рух ліворуч */
  /* bottom: 50px; */ /* Зсув вгору від нижнього краю, від'ємні значення = рух вниз */
  /* right: 50px; */ /* Зсув ліворуч від правого краю, від'ємні значення = рух праворуч */
  /* На практиці використовуються лише пара властивостей: top + left або bottom + right,
  головне - уникати конфліктів */
  /* Задаємо "глибину" розташування елемента,
  елементи з більшим значення z-index розташовуються над
  елементами з меншим значення. Від'ємні значення дозволені */
  z-index: -2;
}
.fixed {
  /* Дозволяє змінювати розташування елемента,
   але "вириває" цей елемент з потоку сторінки
   (елемент ніби "плаває" над сторінкою, 
   а висота сторінки менша на висоту елемента) */
  position: fixed;
  width: 200px;
  border-color: blueviolet;
  /* left: calc(100%-200px); */
  right: 0px;
}
.sticky {
  position: sticky;
  /* Позиція відносно ОБЛАСТІ ПЕРЕГЛЯДУ ВКЛАДКИ, 
  після якої елемент "виривається" із потоку
  (місце за ним залишається) і закріплюється */
  top: 10px;
  background-color: white;
  /* фон елемента не прозорий, щоб приховати "пропливання" елементів нижче */
  border-color: green;
  /* Встановлюємо розташування елемента над рештою
  (по осі Z, по глибині) */
  /* Значення z-index - це індекс, тому жодних одиниць виміру */
  z-index: 99;
}
.absolute {
  /* Дозволяє змінювати розташування елемента,
   як значення fixed, проте "прив'язка" точки відліку
   не така жорстка: якщо вказати для одного з батьківських
   елементів position: relative, то він стане точкою відліку,
   інакше елемент буде прив'язаний до body */
  position: absolute;
  /* Якщо ні .default-position, ні його батьківський div
  не є "позиціонованим" елементом, 
  то зміщення відбуваєтсья відносно body */
  top: 50px;
  left: 50px;
  /*  Якщо div.default-position буде "позиціонованим",
   або один з його батьківських елементів будуть такими,
   то саме вони будуть керувати поточним елементом з
   position: absolute; */
  top: 100px;
  left: 100px;
}
.relative-div {
  position: relative;
}
.up {
  font-size: 40px;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: bisque;
  position: fixed;
  right: 20px;
  bottom: 40px;
}
.up a {
  text-decoration: none;
}
/* Задаємо "глибину" розташування елемента,
  елементи з більшим значення z-index розташовуються над
  елементами з меншим значення. Від'ємні значення дозволені */
